/**-----------------------**/

.pr10 {
	padding-right: 10px;
}
body {
	font-family: YuGothic, '游ゴシック', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #323232;
}
.wrap {
	width: 100%;
}
a {
    text-decoration: none;
	color: #323232;
}
a:hover {
    opacity: 0.7;
}
.wrap {
    width: 100%;
}
h2 {
    text-align: center;
	font-size: 145%;
}
h2 span {
    font-size: 75%;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    position: relative;
}
h2 span:after {
    content: '';
    position: absolute;
    width: 60px;
    bottom: -7px;
    left: 50%;
    margin-left: -32px;
}
h2 span.red:after {
	border: 2px solid #d64161;
}
h2 span.orange:after {
	border: 2px solid #e07c3a;
}
h2 span.green:after {
	border: 2px solid #43a23a;
}
h2 span.brown:after {
	border: 2px solid #906a32;
}
.red {color: #d64161;}
.orange {color: #e07c3a;}
.green {color: #43a23a;}
.brown {color: #906a32;}


.text{
    text-align: center;
}

.m-auto{
    margin: 0 auto;
}

#contentsArea{
   
}


/**clear
-----------------------**/
.clearfix:after {
    content:".";
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden; 
    font-size: .1em;
}
.clearfix { 
    display:inline-block;
}

/**header
-----------------------**/
header {
    padding-top: 20px;
	width: 100%;
	background-image: url(../../images/header_line.png);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	vertical-align: bottom;
}
h1 {
    font-size: 133%;
    float: left;
    line-height: 32px;
    font-weight: bold;
}
.headerNav {
    float: right;
}
.headerNav ul li {
    float: left;
	text-align: center;
	vertical-align: middle;
	padding-right: 20px;
	line-height: 1.7em;
	font-weight: bold;
}
header .snsBtn {
	float: right;
	padding-right: 20px;
}

/**top
-----------------------**/
#top {
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(../../images/main_bg.jpg);
	position: relative;
}
.logo {
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left: -125px;
}

/**bgLine
-----------------------**/
.bgLine {
	background-position: top;
	background-attachment: scroll, fixed;
	background-repeat: no-repeat;
	background-size: contain;
	height: 500px;
    width:100%;
}

/**area01
-----------------------**/
#area01 {
	background-image: url(../../images/area01_line.png), url(../../images/area01_line.png);
	z-index: 100;
}

#area01 ul{
    width:1000px;
}

#area01 li{
    display: inline-block;
}










/**area02
-----------------------**/
#area02 {
	background-image: url(../../images/area02_line.png),url(../../images/area02_line.png);
	z-index: 200;
}

#area02 dt,dd{
    width: 498px;
    height: 220px;
    float: left;
}

#area02 dl{
    width: 1000px; 
}

.b-left{
    border-left: 2px solid #e07c3a;
}
.b-right{
    border-right: 2px solid #e07c3a;
}

.mt45{
    margin-top: 45px;    
    display: inline-block;
}





/**area03
-----------------------**/
#area03 {
	background-image: url(../../images/area03_line.png), url(../../images/area03_line.png);
	z-index: 300;
    
}



#area03 dt, #area03 dd{
    display: inline-block;
    float: left;
}












/**area04
-----------------------**/
#area04 {
	background-image: url(../../images/area04_line.png), url(../../images/area04_line.png);
	z-index: 400;
}


















/**footer
-----------------------**/
footer {
    width: 100%;
    height: 332px;
    background-color: #303030;
    position: relative;
	background-image: url(../../images/header_line.png);
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
	color: #ffffff;
}
.footerNav {
	width: 400px;
	margin: 0 auto;
}
.footerNav li {
    float: left;
    padding: 14px;
	text-align: center;
}
.footerNav a {
    text-decoration: none;
	color: #ffffff;
}
footer .snsBtn {
	width: 96px;
	margin: 0 auto;
}
.copy {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

